html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    line-height: 1.4em;
    font-family: 'Oswald', sans-serif;
    background-color: #000;
}

a{
  color: #fff;
}

/*NAVBAR*/

nav{
  width: 100vw;
  height: 90px;
  display: flex;
}

.toggle, [id^=drop] {
 display: none;
}

.logo {
  display: flex;
  flex: 1;
  float: right;
  padding: 15px 0 0 30px;
}

.logo img{
  width: 90px;
  height: 90px;
}

#main-toggle {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
}


.nav-icon:before,
.nav-icon:after {
  background: #fff;
  content:" ";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.nav-icon:before {
  top: 6px;
}

.nav-icon:after {
  top: -6px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  display: flex;
  flex: 1.75;
  padding: 0;
  padding-top: 2vh;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin: 0;
  float: left;
  background-color: #000;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav ul li ul li a:hover {
  text-decoration: underline;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul li:hover>ul {
  display: inherit;
}

li>a:after {
  content: " +";
}

li>a:only-child:after {
  content: "";
}

nav .buttons{
  display: flex;
  flex: 0.75;
  width: 20vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.buttons li {
  float: left;
  list-style: none;
  z-index: 1;
  line-height: 0;
}

.buttons li a{
  border: none;
  color: #000;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.buttons li a:visited{
  color: #000;
}

.container{
  width: 100vw;
  height: 100vh;
  color: #fff;
}

/*SHOWCASE*/
.show2{
  display: none;
}
.show1{
  display: flex;
}
#showcase{
  background-color: #000;
  width: 100vw;
  height: 90vh;
  display: flex;
/*  padding-top: 100px;*/
}

#showcase .leftbox{
  left: 0;
  width: 20vw;
  height: 90vh;
  align-content: center;
  align-items: center;
}
#showcase .middlebox {
  display: flex;
  margin: auto;
  background-image: url("images/showcase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 90vh;
}

#showcase .rightbox{
  right: 0;
  width: 20vw;
  height: 90vh;
}
#showcase h1 {
  color: #fff;
  width: 15vw;
  height: 100vh;
  background-color: #000;
  font-size: 25px;
  padding: 2%;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  text-transform: uppercase;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 50%;
}
#showcase .rightbox h1{
  padding-top: 60%;
}

p{
  color: #fff;
}
/*THING OUTSIDE THE...*/
#tot{
  width: 100vw;
  height: 90vh;
}
#tot .topbox{
  width: 100vw;
  height: 20vh;
  text-align: center;
  color: white;
  top: 0;
  margin-top: 35vh;
}
#tot .topbox h1{
  font-size: 45px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
}
#toto{
  display: flex;
  padding-top: 5%;
}
#toto h1{
  color: #fff;
  width: 33.33vw;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#tot .leftbox{
  width: 33.33vw;
  height: 12vh;
  background-color: #fff;
}

#tot .middlebox{
  width: 33.33vw;
  height: 12vh;
  background-color: #fff;
}

#tot .rightbox{
  width: 33.33vw;
  height: 12vh;
  background-color: #fff;
}

#tot .leftbox h1{
  color: #ed7117;
}
#tot .middlebox h1{
  color: #003297;
}
#tot .rightbox h1{
  color: #d90166;
}

/*INFO*/
#info{
  height: 90vh;
}
#info .line{
  display: flex;
  width: 100vw;
  height: 50vh;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding-top: 15%;
}
#info .leftbox{
  width: 40vw;
  height: 50vh;
  background-color: #fff;
  margin-left:5vw;
  margin-right: 5vw;
  padding-top: 2%;
}

#info .rightbox{
  width: 40vw;
  height: 50vh;
  background-color: #fff;
  margin-left:5vw;
  margin-right: 5vw;
  padding-top: 2%;
}
#info h1{
  color: #fff;
  width: 100vw;
  font-size: 45px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#info .line h1{
  color: #000;
  width: 40vw;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#info p{
  color: #000;
  width: 40vw;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#info a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
#info a:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
#info a:visited{
  color: #000;
}
/*DEGREES*/
#degree{
  width: 100vw;
  height: 90vh;
  right: 0;
  left: 0;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#degree h1{
  color: #fff;
  width: 100vw;
  font-size: 45px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#degree h3{
  color: #fff;
  width: 100vw;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#degree h4{
  font-size: 26px;
  color: #000;
  text-decoration: 2px underline;
}
#degree a{
  color: #000;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  line-height: inherit;
}

#degree a:hover{
  text-decoration: underline;
}

#degree ul, li{
  text-decoration: none;
  list-style: none;
}

#degree .lineone{
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

#degree .lineto{
  width: 100vw;
  height: 25vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

#degree  .leftbox{
  width: 33.33vw;
}

#degree  .middlebox{
  width: 33.33vw;
}

#degree  .rightbox{
  width: 33.33vw;
}
#degree2{
  display: none;
}

/*ANNOUNCEMENT + NEWS & EVENTS*/
#updates{
  display: flex;
  width: 100vw;
  height: 90vh;
  text-align: center;
  margin-bottom: 5%;
}
#annon{
  width: 50vw;
  padding-top: 5%;
  padding-bottom: 5%;
}
#news{
  width: 50vw;
  padding-top: 5%;
  padding-bottom: 5%;
}
#updates .annoninfo{
  width: 30vw;
  height: 55vh;
  background-color: #fff;
  margin-left:10vw;
  margin-right: 5vw;
  justify-content: center;
  align-items: center;
}

#updates .newsinfo{
  width: 30vw;
  height: 55vh;
  background-color: #fff;
  margin-left:5vw;
  margin-right: 10vw;
}

#updates #annon h1{
  color: #fff;
  width: 50vw;
  font-size: 45px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#updates #news h1{
  color: #fff;
  width: 40vw;
  font-size: 45px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#updates p{
  color: #000;
}
#updates a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
#updates a:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
#updates a:visited{
  color: #000;
}

/*FOOTER*/
footer{
  background: #fff;
  color: #000;
  text-align: center;
  bottom: 0;
  padding: 20px;
  margin-top: 25px;
}
footer a{
  color: #000;
}
footer a:visited{
  color: #000;
}

footer p{
  color: #000;
}
.footlink{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footlink a{
  padding: 0 25px;
  font-size: 24px;
  text-decoration: none;
  line-height: inherit;
}

.footlink a:hover{
  text-decoration: 2px underline;
}


.some img{
  width: 30px;
  height: 30px;
}
.some a{
  padding: 0 25px;
  line-height: inherit;
  text-decoration: none;
}


@media screen and (max-width: 800px){
  nav {
    margin: 0;
    width: 100vw;
    height: 1vh;
    display:inherit;
  }
.logo{
    right: 0;
    float: right;
    padding-top: 2vh;

}
.logo img{
  width: 60px;
  height: 60px;
}

 nav ul{
   display: block;
  }

  #main-toggle {
    position: absolute;
    top: 2vh;
  }

.toggle+ a,
  .links {
    display: none;
  }

 .toggle {
    display: block;
    background-color: #000;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    border: none;
  }

 [id^=drop]:checked+ul{
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #333;
  }

  nav ul ul {
    float: none;
    position:static;
    color: #fff;
  }

 nav ul ul li:hover>ul,
  nav ul li:hover>ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

.buttons{
  margin-left: 35.5%;
  position: absolute;
}

.buttons li {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0;

}

.buttons li a{
  border: none:
  display: block;
  width: 54px;
  height: 2vh;
  padding: 0 0 0 0;
  font-size: 12px;
  margin-bottom: 50px;
}

.container{
  width: 100vw;
  height: inherit;
}

  /*SHOWCASE*/
  .show2{
    display: block;
  }
  .show1{
    display: none;
  }

  #showcase {
    display: block;
    margin: 0;
    width: 100vw;
    height: 70vh;
  }
  #showcase h1 {
    color: #fff;
    width: 100vw;
    height: 20vh;
    background-color: #000;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.6em;
    text-transform: uppercase;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 5%;
  }
  #showcase .leftbox h1{

    padding-bottom: 0%;
  }
  #showcase .rightbox h1{
    padding-top: 10%;
  }
  #showcase .leftbox{
    margin-top: 30%;
    width: 100vw;
    height: 20vh;
    right: 0;
    left: 0;
    background-color: #000;
  }

  #showcase .middlebox{
    width: 100vw;
    height: 40vh;
    right: 0;
    left: 0;
    background-image: url("images/showcase.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;

  }
  #showcase .rightbox{
    width: 100vw;
    height: 20vh;
    right: 0;
    left: 0;
    background-color: #000;
  }

/*THING OUTSIDE THE...*/
#tot{
  width: 100vw;
  height: 90vh;
}

#tot .topbox{
  width: 100vw;
  height: 5vh;
  text-align: center;
  color: white;
  top: 0;
  margin-top: 30vh;
}
#tot .topbox h1{
  color: #fff;
  font-size: 40px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
}
#toto{
  display: block;
  justify-content: center;
  align-items: center;
}
#toto h1{
  color: #fff;
  width: 100vw;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 2em;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#tot .leftbox{
  width: 100vw;
  height: 12vh;
  background-color: #fff;
}

#tot .middlebox{
  width: 100vw;
  height: 12vh;
  background-color: #fff;
}

#tot .rightbox{
  width:100vw;
  height: 12vh;
  background-color: #fff;
}

#tot .leftbox h1{
  color: #ed7117;
}
#tot .middlebox h1{
  color: #003297;
}
#tot .rightbox h1{
  color: #d90166;
}

/*INFO*/
#info{
  height: 90vh;
  padding-top: -5%;
}
#info .line{
  display: flex;
  width: 100vw;
  height: 50vh;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding-top: 15%;
}
#info .leftbox{
  width: 40vw;
  height: 50vh;
  background-color: #fff;
  margin-left:5vw;
  margin-right: 5vw;
  padding-top: 2%;
}

#info .rightbox{
  width: 40vw;
  height: 50vh;
  background-color: #fff;
  margin-left:5vw;
  margin-right: 5vw;
  padding-top: 2%;
}
#info h1{
  color: #fff;
  width: 100vw;
  font-size: 40px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#info .line h1{
  color: #000;
  width: 40vw;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#info p{
  color: #000;
  width: 40vw;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#info a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
#info a:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
#info a:visited{
  color: #000;
}
/*DEGREES*/
#degree{
  display: none;
}
#degree2{
  display: block;
  width: 100vw;
  height: 130vh;
  right: 0;
  left: 0;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#degree2 h1{
  color: #fff;
  width: 100vw;
  font-size: 40px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#degree2 h3{
  color: #fff;
  width: 100vw;
  font-size: 38px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#degree2 h4{
  font-size: 20px;
  color: #000;
  text-decoration: underline;
  text-decoration-color: #000;
}
#degree2 a{
  color: #000;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  line-height: inherit;

}

#degrees2 a:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
#degrees2 a:visited{
  color: #000;
}

#degree2 ul, li{
  text-decoration: none;
  list-style: none;
}

#degree2 .lineone{
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

#degree2 .lineto{
  width: 100vw;
  height: 25vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

#degree2 .linetre{
  width: 100vw;
  height: 25vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

#degree2  .leftbox{
  width: 50vw;
}

#degree2  .rightbox{
  width: 50vw;
}

/*ANNOUNCEMENT + NEWS & EVENTS*/
#updates{
  display: block;
  width: 100vw;
  height: 190vh;
  text-align: center;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}
#annon{
  width: 100vw;
  padding-top: 20%;
  padding-bottom: 5%;
}
#news{
  width: 100vw;
  padding-top: 5%;
  padding-bottom: 5%;
}
#updates .annoninfo{
  width: 80vw;
  height: 50vh;
  padding-right: 10;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

#updates .newsinfo{
  width: 90vw;
  height: 85vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

#updates #annon h1{
  color: #fff;
  width: 100vw;
  font-size: 40px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#updates #news h1{
  color: #fff;
  width: 100vw;
  font-size: 40px;
  text-decoration: 3px underline;
  text-decoration-color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: inherit;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#updates p{
  color: #000;
}
#updates a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
#updates a:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
#updates a:visited{
  color: #000;
}

/*FOOTER*/
footer{
  background: #fff;
  color: #000;
  text-align: center;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
footer a{
  color: #000;
}
footer a:visited{
  color: #000;
}

footer p{
  color: #000;
}

.footlink a{
  text-decoration: none;
  line-height: inherit;
}
.footlink .leftbox{
 width: 100vw;
  height: 15vh;
}
.footlink .rightbox{
  width: 100vw;
  height: 15vh;
}

.footlink a:hover{
  text-decoration: 2px underline;
  text-decoration-color: #000;
}

.some{
  width: 100vw;
  padding-right:6vw;
}
.some img{
  width: 30px;
  height: 30px;
}
.some a{
  line-height: 3em;
  text-decoration: none;
}
}
